BookCatalogueWPF/Service References/CategoryServiceReference/CategoryWcfService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookCatalogueWPF.Common.Dto.EntityDto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookCatalogueWPF.Common.Dto.EntityDto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8280/CategoryWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookCatalogueWPF.Common.Dto.DtoBase" />
  <xs:complexType name="ArrayOfCategoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryDto" nillable="true" type="tns:CategoryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryDto" nillable="true" type="tns:ArrayOfCategoryDto" />
  <xs:complexType name="CategoryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BookCatalogueWPF.Common.Dto.DtoBase" base="q1:DtoEntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="HasChildren" type="xs:boolean" />
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CategoryDto" nillable="true" type="tns:CategoryDto" />
</xs:schema>